.texteditor {
  display: flex;
  flex-direction: column;
}

.texteditor__quickButtons {
  display: flex;
  justify-content: space-evenly;
}

.texteditor__quickButton {
  width: 15px;
  height: 15px;
  transition: border 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.texteditor__quickButton:hover {
  border: 1px solid rgb(180, 180, 180);
}

.texteditor__quickButtonActive {
  width: 15px;
  height: 15px;
  transition: border 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-color: AliceBlue;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}
